---
import MainPage from "./index";
import { Button } from "primereact/button";
---

<section class="h-screen">
  <div class="relative group md:block hidden">
    <button
      class="flex items-center overflow-hidden px-4 py-3 bg-white hover:bg-[#7FA1C3] hover:text-white rounded-bl-xl absolute top-0 right-0 hover:w-[6rem] w-[3rem] duration-300 cursor-pointer group"
    >
      <i class="pi pi-sign-out mr-2"></i>
      <span
        class="whitespace-nowrap opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        Logout
      </span>
    </button>
  </div>

  <div id="container" class="max-w-6xl mx-auto p-4 md:p-10 relative">
    <MainPage client:only />
  </div>
</section>
