@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background-color: #6482ad;
  animation: gradient 15s ease infinite;
  background-size: 100%;
  background-attachment: fixed;
}

.wave {
  background: #e2dad6;
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 150%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 15s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(-10);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(-25%);
  }

  75% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(-10);
  }
}

/* Tab Navigation Bar */
.tab-button {
  color: #000;
  cursor: pointer;
  border-radius: 18px;
  padding: 0.7rem 1rem;
  transition: all 0.2s ease-in-out;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  width: 100%;
}

.tab-button.active {
  width: 100%;
  background-color: #6482ad;
  color: #fff;
  z-index: 10;
}

/* Preview Image Details */
.p-image-mask {
  background-color: rgba(0, 0, 0, 0.85);
}

.p-image-preview {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: contain;
}

.p-image-preview-icon {
  color: white; /* Ganti warna icon zoom */
}

/* Container element */
.p-tieredmenu {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
  min-width: 15rem;
  font-family: "Inter", sans-serif;
}

/* Menuitem element */
.p-menuitem {
  margin: 0.25rem 0.5rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.p-menuitem > .p-menuitem-content {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: transparent;
}

.p-menuitem > .p-menuitem-content:hover {
  background-color: #f0f4f8;
  cursor: pointer;
}
