@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background-color: #6482ad;
  animation: gradient 15s ease infinite;
  background-size: 100%;
  background-attachment: fixed;
}

.wave {
  background: #e2dad6;
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 150%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 15s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(-10);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(-25%);
  }

  75% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(-10);
  }
}

.tab-button {
  cursor: pointer;
  background-color: #f9f9f9;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0.5rem 1rem;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-size: 0.875rem;
  color: #aeaeae;
}

.tab-button.active {
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.202);
  padding: 0.5rem 1rem;
  position: relative;
  color: #000; /* blue-800 */
}
