---
import "font-awesome/css/font-awesome.min.css";
import "../styles/global.css";
import "primereact/resources/themes/lara-light-blue/theme.css"; // atau tema lain
import "primereact/resources/primereact.min.css"; // komponen core
import "primeicons/primeicons.css"; // icon

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="icon" type="image/svg+xml" href="/img/logoSekolah.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Report Website | SMK Mitra Industri MM2100</title>
  </head>
  <body>
    <slot />

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>
